[env]
MISE_USE_VERSIONS_HOST = "0"

[tools]
actionlint = "latest"
hk = "latest"
# lua = "5.4" # Not available on Windows, and not used in this repository.
pkl = "latest"
stylua = "latest"

[tasks.format]
description = "Format Lua scripts"
run = "stylua metadata.lua hooks/"

[tasks.lint]
description = "Lint Lua scripts and GitHub Actions using hk"
run = "hk check"

[tasks.test]
description = "Run plugin tests - install and execute tool"
run = [
    "mise plugin link --force shader-slang .",
    "mise cache clear",
    "mise install shader-slang",
]

# Currently, 'hk' (used in "lint" task) is not available on Windows yet. So we call tasks separately in CI.
# See https://github.com/jdx/hk/pull/260
# [tasks.ci]
# description = "Run CI checks"
# depends = ["lint", "test"]
