name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        # with:
        # Tools in <this repo>/mise.toml are not required in CI. Especially for Windows, some tools doesn't work.
        # install: false
      - run: mise run ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MISE_VERBOSE: 1
